:root {
    --cor1: green;
    --cor2: lightgreen;
    --cor3: lime;
}

.ml-5 {
    margin-left: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mr-5 {
    margin-right: 5px;
}

.neg {
    font-weight: bolder;
}
.italic {
    font-style: italic;
}
.center {
    text-align: center;
}
.mensagem-erro {
    color: rgb(33, 0, 221);
    font-weight: bolder;
    font-size: 25px;
    display: none;
}